.env
.env.docker
venv/
.venv/
dist/
log.ini
*.log
__pycache__
/tmp/*
/data
test_service.yml
tests/.env
.coverage
coverage.xml
.pytest_cache

# extensions folder
brevia/extensions/*
!brevia/extensions/__init__.py

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.history
/.vscode

# docs site
site/
