## DB vars: unittest instance
PGVECTOR_DRIVER=psycopg2
PGVECTOR_HOST=localhost
PGVECTOR_PORT=5432
PGVECTOR_DATABASE=brevia_unittest
PGVECTOR_USER=postgres
PGVECTOR_PASSWORD=postgres

## Fake api keys and tokens
BREVIA_ENV_SECRETS='{"OPENAI_API_KEY": "sk-fakefakefakefakefakefake"}'
