## DB vars
PGVECTOR_DRIVER=psycopg2
PGVECTOR_HOST=localhost
PGVECTOR_PORT=5432
PGVECTOR_DATABASE=brevia_unittest
PGVECTOR_USER=postgres
PGVECTOR_PASSWORD=postgres

# Test model
USE_TEST_MODELS=True

# Fake openai key
OPENAI_API_KEY=sk-fakefakefakefakefakefake
